In [5]:
def fib(a):
    """Print Fibonacci series"""
    if(a==0 or a==1):
        return(a)
    else:
        return(fib(a-1)+fib(a-2))
print(fib(6))

8

In [10]:
def fact(n):
    if(n==0 or n==1):
        return(1)
    else:
        return(n*fact(n-1))

print(fact(5))

120

In [11]:
input("\n\n\n\n\nEnter to exit")

Enter to exitsd

'sd'

In [13]:
fib.__doc__

'Print Fibonacci series'

In [81]:
def pyramid():
    s = input("Enter the symbol:")
    h = int(input("Enter height of pyramid:"))
    for i in range(h,0,-1):
        for j in range(i,0,-1):
            print(s, end="")
        print('\r')

In [82]:
pyramid()

Enter the symbol:*
Enter height of pyramid:6
******
*****
****
***
**
*

In [20]:
a=100
print("The type of variable having value", a, " is ", type(a))

The type of variable having value 100  is  <class 'int'>

In [72]:
for j in range(3,0,-1):
    print('*', end="")

***

In [46]:
l = [1,2,3,4,5,6,7,8,9]

In [47]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
t = tuple(l)

In [49]:
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [50]:
l[5] = 60

In [51]:
l

[1, 2, 3, 4, 5, 60, 7, 8, 9]

In [52]:
l[3]*2

8

In [53]:
t[3] = 40

TypeError: 'tuple' object does not support item assignment

In [88]:
a = ()
print(bool(a))

False

In [93]:
10//3

3

In [104]:
a=100
a **= 2
print ("a **= 2 : ", a)

a **= 2 :  10000

In [103]:
a

10000

In [2]:
import tweepy
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [9]:
cs_key = "qH7CTe0pL9AtV9rhCgYOxghJV"
cs_secret_key = "GSzbPPCwzzAtdebdLSmM9rs7hN7n1UIDlhreuGQJEOWbbl9xni"
access_token = "53633496-BDzvleDaSes0u4qjcYtxQQSQYLrUr95j0iuSy5dIw"
access_secret_token = "A8Myz3p2zaPuRA9rPNy0RSeMFelNWqSgYsLRHrnToR8pS"
auth = tweepy.OAuthHandler(cs_key,cs_secret_key)
auth.set_access_token(access_token,access_secret_token)
api = tweepy.API(auth)

In [16]:
tweets = tweepy.Cursor(api.search_tweets, q = "G20", lang = 'en', tweet_mode = 'extended').items(10)
t_list = []
for t in tweets:
    t_list.append(t.full_text)

In [17]:
t_list

['Ms Quint Simon Head of Public Policy, APAC, Amazon Web Services suggests how digital trust can be strengthened in society, at B20 India inception meeting.\nStay tuned #B20India\n\n#B20India #G20India2023\n#B20India2023 #B20GlobalDialogue\n#G20India #G20 #B20\n\n@quintsimon @AWS @g20org https://t.co/NLZPnPmrEV',
 'RT @kishanreddybjp: Witnessed the vibrant folk dance &amp; traditional performances at the cultural evening organized for the #G20 delegates, a…',
 "RT @GoI_MeitY: Let's work together to drive sustainable development and economic growth. Calling startups to join G20 #DigitalInnovationAll…",
 'RT @airnewsalerts: #G20: First Tourism Working Group Meeting to officially be inaugurated at Dhordo, #Gujarat today. \n\nUnion Minister for f…',
 'RT @_DigitalIndia: 6️⃣ days to go for the 1st Meeting of G20 Digital Economy Working Group in Lucknow from Feb 13-15. \n\nExplore next-gen te…',
 'RT @alkesh12sharma: Digital Innovation Alliance invites start up community from G20 Countries to work on new and emerging technologies for…',
 'RT @kishanreddybjp: A stroll at The Magnificent White Desert of Rann of Kutch, with its enchanting beauty, serenity &amp; the spectacular sunse…',
 'RT @my_rajasthan: A group photo from the first Employment Working Group meeting of the G20 in Jodhpur, which was attended by representative…',
 'RT @aksharmaBharat: Congrats Agra Administration! \nfor setting a world record for "Most Participants in an Essay Writing Competition at Mul…',
 'RT @PIB_Guwahati: #Assam Education Minister @ranojpeguassam addressing the gathering on the concluding day of #Y20 Inception Meeting in #Gu…']

In [62]:
df = pd.DataFrame(t_list)

In [63]:
df.head()

                                                   0
0  Ms Quint Simon Head of Public Policy, APAC, Am...
1  RT @kishanreddybjp: Witnessed the vibrant folk...
2  RT @GoI_MeitY: Let's work together to drive su...
3  RT @airnewsalerts: #G20: First Tourism Working...
4  RT @_DigitalIndia: 6️⃣ days to go for the 1st ...

In [64]:
l1 = df[0][1].split()
l1

['RT',
 '@kishanreddybjp:',
 'Witnessed',
 'the',
 'vibrant',
 'folk',
 'dance',
 '&amp;',
 'traditional',
 'performances',
 'at',
 'the',
 'cultural',
 'evening',
 'organized',
 'for',
 'the',
 '#G20',
 'delegates,',
 'a…']

In [29]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shubhamchaudhary/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [65]:
stop = stopwords.words('english')

In [66]:
l2 = [word for word in l1 if word not in stop]

In [67]:
l2

['RT',
 '@kishanreddybjp:',
 'Witnessed',
 'vibrant',
 'folk',
 'dance',
 '&amp;',
 'traditional',
 'performances',
 'cultural',
 'evening',
 'organized',
 '#G20',
 'delegates,',
 'a…']

In [68]:
df.columns = ['Tweets']
df.head()

                                              Tweets
0  Ms Quint Simon Head of Public Policy, APAC, Am...
1  RT @kishanreddybjp: Witnessed the vibrant folk...
2  RT @GoI_MeitY: Let's work together to drive su...
3  RT @airnewsalerts: #G20: First Tourism Working...
4  RT @_DigitalIndia: 6️⃣ days to go for the 1st ...

In [69]:
df['Tweets'] = df['Tweets'].apply(lambda x: ' '.join([word for word in x.split() if word not in stop]))

In [70]:
df.head()

                                              Tweets
0  Ms Quint Simon Head Public Policy, APAC, Amazo...
1  RT @kishanreddybjp: Witnessed vibrant folk dan...
2  RT @GoI_MeitY: Let's work together drive susta...
3  RT @airnewsalerts: #G20: First Tourism Working...
4  RT @_DigitalIndia: 6️⃣ days go 1st Meeting G20...

In [71]:
df['Tweets'] = df['Tweets'].apply(lambda x: ' '.join([word for word in x.split() if word != 'RT']))

In [72]:
df.head()

                                              Tweets
0  Ms Quint Simon Head Public Policy, APAC, Amazo...
1  @kishanreddybjp: Witnessed vibrant folk dance ...
2  @GoI_MeitY: Let's work together drive sustaina...
3  @airnewsalerts: #G20: First Tourism Working Gr...
4  @_DigitalIndia: 6️⃣ days go 1st Meeting G20 Di...

In [77]:
import re

In [85]:
df['Tweets'] = df['Tweets'].apply(lambda x: ' '.join([re.sub(r'#',"",word) for word in x.split()]))

In [86]:
df['Tweets']=df['Tweets'].apply(lambda x: ' '.join([re.sub(r'@',"",word) for word in x.split()]))

In [87]:
df['Tweets'] = df['Tweets'].apply(lambda x: ' '.join([re.sub(r'[0-9]',"",word) for word in x.split()]))

In [89]:
df['Tweets'] = df['Tweets'].apply(lambda x: ' '.join([re.sub(r'[^a-zA-Z]',"",word) for word in x.split()]))

In [90]:
df['Tweets'] = df['Tweets'].apply(lambda x: ' '.join([word.lower() for word in x.split()]))

In [91]:
df.head()

                                              Tweets
0  ms quint simon head public policy apac amazon ...
1  kishanreddybjp witnessed vibrant folk dance am...
2  goimeity lets work together drive sustainable ...
3  airnewsalerts g first tourism working group me...
4  digitalindia days go st meeting g digital econ...

In [92]:
np.array(42)

array(42)

In [93]:
np.array([[[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]]])

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])